* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family:'digital-calc';
    src: '../digital-7.ttf';
}

#container {
    height: 400px;
    width: 300px;
    background-color: RGB(230,230,230);
    margin: 20px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

#screen {
    width: 270px;
    height: 85px;
    background-color: pink;
    margin: 0 auto 15px;
    border-radius: 10px;
    background-color: RGB(206,205,200);
    font-family: digital-calc;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5px;
}

.grid-item {
    background-color: white;
    height: 40px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: RGB(60,60,60,.25);
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    color: white;
}

.special_func {
    background-color: RGB(255,144,9);
}

.func {
    background-color: RGB(100,100,100);
}

.num {
    background-color: RGB(223,223,223);
    
}